@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Noto+Sans+KR:wght@400;700&family=Open+Sans:ital,wght@0,300;1,500&display=swap');



*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    background:#f2f2f2;
    font-family: open sans;
}

/*MY  frist nav  styles starts here */
.nav{
    width:100%;
    height:40px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background:#fafafa;
    font-size:13px;
    padding-right:6rem;
    gap:1.1rem;
}
.nav .cl{
    width:1px;
    height:13px;
    display:flex;
    background:#cccccc;
}
.nav span a{
    text-decoration:none;
    color:black;
}
.nav span i{
    padding:8px;
    top:8px;
}
.nav span a:hover{
    color:rgb(255, 85, 0);
}
/* my first nav ends here */


/* -main navbar  style starts here  */

.navbar{
    width:100%;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    background:white;
}
.navbar .searchbar{
    display:flex;
    width:auto;
    height:auto;
    flex-direction: column;
    margin-right:5rem;
}
.navbar .searchbar .cases {
    display:flex;
    height:auto;
    width:auto;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: row;
    font-size:12px;
    gap:0.5rem;
    padding: 4px 2px;
}

.navbar .searchbar .cases .cl{
    width: 1px;
    height: 13px;
    display: flex;
    background: #cccccc;
    
}

.navbar h1{
    width:auto;
    height:auto;
    margin:0 3rem 1.5rem 0;
    color:#ff4747;
    font-size:2.5rem;
}
.navbar .cart{
    width:auto;
    height:auto;
    font-size:2rem;
    margin-left: -4rem;
    margin-bottom:1.2rem;
}

/* searchbar styles starts here */
.navbar .searchbar .search  form{
    width:700px;
    height:35px;
    border:2px solid #ff4747;
    display:flex;
    align-items:center;
    background:white;
    justify-content:space-between;
    border-radius:4px;
}

.navbar .searchbar .search form .searc{
    width:auto;
    height:auto;
    display:flex;
    flex-direction: row;
}

.navbar .searchbar .search form input {
    border:none;
    outline:none;
    margin-left:1rem;
}
.navbar .searchbar .search form input:active{
    border:none;
    outline:none;
}
.navbar .searchbar .search form .searc select {
    width:130px;
    border: none;
    outline: none;
    display:flex;
    justify-content:flex-start; 
}

.navbar .searchbar .search form .searc button {
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    padding:6px 10px;
    background:#ff4747;
}

/* section styleing starts here */
section{
    width:88%;
    height:auto;
    /* background: red; */
    margin:2rem 4.5rem;
    display:flex;
    align-self:center;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    gap:1rem;
}
 .section .category{
    width:250px;
    height:530px;
    background:white;
    display:flex;
    flex-direction:column;
    gap:1.1rem;
    border-radius: 10px;

 }

 .section .category  span a{
    display:flex;
    gap:10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-weight: lighter;
    margin-left:1rem;
 }

 .section .category span a:hover{
    color:#ff4747;
 }
 
 

 .section .category span a i{
    font-size: 1.3rem;
    font-weight: 900;
 }

 select .items  {
    font-weight:1px;
    font-style: open sans;  
 }
 section .category  .cate{
    background:#f9f9f9;
    width: 100%;
    color:bolder;
    height: 40px;
 }
 
 /* upbar sections style */
.section .upbar{
    width:100%;
    height:50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 0;
    background-color:white;
    border-radius: 10px;
}

.section .upbar img{
    width: 200px;
    height: auto;
    margin: 1rem 1rem;
}

/* styles for the second part */
.section .secondpart{
    width: 80%;
    height: auto;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    /* background:red; */
}
.section .secondpart .sidepart{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    
}
.section .secondpart .part1{
    width:50%;
    height: 464px;
    background:#fb687e;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    margin-top:1rem;
}
.section .secondpart .part1 .text {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    color:white;
    gap:0.4rem;
}
.section .secondpart .part1 .text p{
    font-size: 17px;
    font-weight: bold;
}
.section .secondpart .part1 .text span {
    font-size: 15px;
}

.section .secondpart .part1 .box {
    width:290px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    border-radius: 12px;
    background:white;
    gap:0.3rem;
    margin-top:1rem;
    
}
.section .secondpart .part1 .ammount{
    display:flex;
    background:#ffd4b4;
    height:auto;
    width:280px;
    margin-top: 1rem;
    padding:10px 30px;
    font-size:13px;
    border-radius: 10px;
    justify-content:space-between;
}
.section .secondpart .part1 .ammount i{
    font-size:25px;
    color:#fb687e;
    background-color:white;
    border-radius:50%;
}


.section .secondpart .part1 .box .img{
    width:110px;
    height:110px;
    margin-bottom:1;
    padding-bottom:10px;

}
.section .secondpart .part1 .box .img figcaption{
    font-size:15px;
    color:#fb687e;
    font-weight:bold;
}

.secondpart .thirdpart{
    width: 200px;
    height:auto;
    background:green;
    display:flex;
    justify-content:center;
    gap:20px;
}

/* welcompart styles  */
.secondpart .lastside{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin:1rem 1rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
.secondpart .part2{
    width: 347px;
    height: 140px;
    margin:0 1rem 1rem 0;
}
.secondpart .part2 img{
    object-fit: cover;
    border-radius: 10px;
}

.secondpart .lastside .welcomeali{
    display:flex;
    width:225px;
    height: 140px;
    background:#ffffff;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    /* margin: 1rem 0; */
    gap:2rem;
    border-radius: 10px;
}
.secondpart .lastside .welcomeali h2 {
    display:flex;
    font-size:0.9rem;
    /* margin-left: 1rem; */
}
.secondpart .lastside .welcomeali .button{
    font-size: 15px;
    display:flex;
    gap:2rem;
}
.secondpart .lastside .welcomeali button {
    font-size:15px;
    border-radius: 30px;
    padding: 10px 20px;
    border:none;
    margin-bottom:0.5rem;
}
.secondpart .lastside .welcomeali .button .cancelbtn  {
    padding: 10px 25px;
    background: #ff5721;
    color:white;
    font-weight:bold;
}
.secondpart .lastside .welcomeali .button .signupbtn {
    font-weight:bold;
}
.secondpart .lastside .hotdeals{
    width:100%;
    height: 310px;
    display:flex;
    margin:0 0;
    flex-direction:column;
    background:#ffffff;
    border-radius: 10px;
}
.secondpart .lastside .hotdeals .top{
    display:flex;
    justify-content: space-between;
    margin: 0.6rem 1rem
}
.secondpart .lastside .hotdeals .top .superdeal h1{
    font-size:1.3rem;
    font-weight:bolder;
}
.secondpart .lastside .hotdeals .top .superdeal h1 i span{
    color:red
}
.secondpart .lastside .hotdeals .top .superdeal p{
    font-size:13px;
}
.secondpart .lastside .hotdeals .top .superdeal .view {
    font-weight:100;
}

.secondpart .lastside .hotdeals .imgbox {
    display:flex;
    width:100%;
    flex-direction: row;
    gap:0.5rem;
    justify-content:flex-start;
    margin:0.2rem 1rem;
} 

.secondpart .lastside .hotdeals .imgbox figcaption p{
    font-weight:bolder;
    font-size: 13px;
}

.secondpart .lastside .hotdeals .imgbox figcaption span{
    font-weight:100;
    font-size: 13px;
}

/* shopping card color starts here */
.cardsection{
    width:87%;
    height:auto;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction:column;
    background: white;
    border-radius: 10px;
    margin: 1rem auto;
}
.cardsection .text{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    margin: auto;
}
.cardsection .text .firstpart{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:4rem;
    margin:0 1rem;
}
.cardsection .text .firstpart span {
    font-size:2rem;
    padding:10px 10px;
    /* margin-top:0.4rem; */
}
.cardsection .text .firstpart i {
    font-size:25px;
    padding-inline: 10px 10px;
}
.cardsection .text .firstpart span span {
    font-size:20px;
    margin-bottom:2rem;
}
.cardsection .text .firstpart p{
    font-size:2rem;
    font-weight:bolder;
}
.cardsection .text .firstpart h2{
    font-size:13px;
    display:flex;
    flex-direction:row;
}
.cardsection .text .firstpart p span {
    color:red;
}
.cardsection .text .firstpart h5{
    font-size:1.2rem;
    margin-top:1rem;
    font-weight:100;
}
.cardsection .text .secondpart{
    display:flex;
    justify-content:center;
    margin: 1rem 1rem 1rem 0;
    font-size:0.9rem;
}
.cardsection .imgbox{
    width:auto;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    margin:0 1rem 1rem 1rem;
    gap:1.5rem;
}
.cardsection .imgbox img  {
    width: 170px;
    height:200px;
    object-fit:cover;
    
}
.cardsection .imgbox figcaption {
    font-weight: bolder;
    font-size:1.2rem;
}
.cardsection .imgbox figcaption span{
    font-weight:100;
    font-size: 13px;
}

/*  mega brand section styling  */
.mega{
    width: 87%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background: black;
        border-radius: 10px;
        margin: 1rem auto;
        color: white;
}
.mega .brand{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:0.5px;
    margin: 1rem;;
}
.mega .brand h1 {
    font-size: 3rem;
    color:rgb(252, 167, 55);
    
}
.mega .brand p{
    font-size: 1.5rem;
    color: rgb(252, 167, 55);
}

.mega .cards{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items:center;
    margin: 0 1rem;
   
}
.mega .cards .card {
    width:130px;
    height:180px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 10px;
    border-radius: 10px;
    flex-direction: column;
    color:black;
    position: relative;
    
}
.mega .cards .card::before {
    content: " car ssd";
    position: absolute;
    left: 4;
    color:#f2f2f2;
    bottom:4.3 rem;
    width: 60px;
    height: 2px;
    background:red;
}
.mega .cards .card .img{
    margin-bottom: 0.5rem;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    gap:1rem;
}
.mega .cards .card .img img{
    border-radius: 10px;
}
.mega .cards .card .img p{
    font-size:15px;

}


@media screen and (max-width:600px) {
    .nav{
        display:none;
    }
    /* media querry for th main nav bar */
    .navbar .Cart{
        display:none;

    }
    .navbar{
        width:100%;
        height:200px;
        display:flex;
        justify-content:column;
        align-items:center;
        flex-direction:column;
    }

}

@media screen and (max-width: 1024px) and (min-width:601px) {
    .nav{
        width:100%;
        height: 40px;
        display:flex;
        padding:0;
        justify-content: center;
        align-items:center;
        gap:1.3rem;
    }


}