@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&family=Noto+Sans+KR:wght@400;700&family=Open+Sans:ital,wght@0,300;1,500&display=swap');



*{
    padding:0;
    margin:0;
    box-sizing:border-box;

}
body{
    background:#f2f2f2;
    font-family: open sans;
}

/*MY  frist nav  styles starts here */
.nav{
    width:100%;
    height:40px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    background:#fafafa;
    font-size:13px;
    padding-right:6rem;
    gap:1.1rem;
}
.nav .cl{
    width:1px;
    height:13px;
    display:flex;
    background:#cccccc;
}
.nav span a{
    text-decoration:none;
    color:black;
}
.nav span i{
    padding:8px;
    top:8px;
}
.nav span a:hover{
    color:rgb(255, 85, 0);
}
/* my first nav ends here */


/* -main navbar  style starts here  */

.navbar{
    width:100%;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    background:white;
}
.navbar .searchbar{
    display:flex;
    width:auto;
    height:auto;
    flex-direction: column;
    margin-right:5rem;
}
.navbar .searchbar .cases {
    display:flex;
    height:auto;
    width:auto;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: row;
    font-size:12px;
    gap:0.5rem;
    padding: 4px 2px;
}

.navbar .searchbar .cases .cl{
    width: 1px;
    height: 13px;
    display: flex;
    background: #cccccc;

}

.navbar h1{
    width:auto;
    height:auto;
    margin:0 3rem 1.5rem 0;
    color:#ff4747;
    font-size:2.5rem;
}
.navbar .cart{
    width:auto;
    height:auto;
    font-size:2rem;
    margin-left: -4rem;
    margin-bottom:1.2rem;
}

/* searchbar styles starts here */
.navbar .searchbar .search  form{
    width:700px;
    height:35px;
    border:2px solid #ff4747;
    display:flex;
    align-items:center;
    background:white;
    justify-content:space-between;
    border-radius:4px;
}

.navbar .searchbar .search form .searc{
    width:auto;
    height:auto;
    display:flex;
    flex-direction: row;
}

.navbar .searchbar .search form input {
    border:none;
    outline:none;
    margin-left:1rem;
}
.navbar .searchbar .search form input:active{
    border:none;
    outline:none;
}
.navbar .searchbar .search form .searc select {
    width:130px;
    border: none;
    outline: none;
    display:flex;
    justify-content:flex-start;
}

.navbar .searchbar .search form .searc button {
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.2rem;
    padding:6px 10px;
    background:#ff4747;
}

/* section styleing starts here */
section{
    width:88%;
    height:auto;
    /* background: red; */
    margin:2rem 4.5rem;
    display:flex;
    align-self:center;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    gap:1rem;
}
 .section .category{
    width:250px;
    height:530px;
    background:white;
    display:flex;
    flex-direction:column;
    gap:1.1rem;
    border-radius: 10px;

 }

 .section .category  span a{
    display:flex;
    gap:10px;
    text-decoration: none;
    color:black;
    font-size: 13px;
    font-weight: lighter;
    margin-left:1rem;
 }

 .section .category span a:hover{
    color:#ff4747;
 }



 .section .category span a i{
    font-size: 1.3rem;
    font-weight: 900;
 }

 select .items  {
    font-weight:1px;
    font-style: open sans;
 }
 section .category  .cate{
    background:#f9f9f9;
    width: 100%;
    color:bolder;
    height: 40px;
 }

 /* upbar sections style */
.section .upbar{
    width:100%;
    height:50px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin:0 0;
    background-color:white;
    border-radius: 10px;
}

.section .upbar img{
    width: 200px;
    height: auto;
    margin: 1rem 1rem;
}

/* styles for the second part */
.section .secondpart{
    width: 80%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    /* background:red; */
}
.section .secondpart .part1{
    width:350px;
    height: 450px;
    background:#fb687e;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius:10px;
    margin-top:1rem;
}
.section .secondpart .part1 .text {
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
    flex-direction: column;
    color:white;
    gap:0.4rem;
}
.section .secondpart .part1 .text p{
    font-size: 17px;
    font-weight: bold;
}
.section .secondpart .part1 .text span {
    font-size: 15px;
}

.section .secondpart .part1 .box {
    width:290px;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    border-radius: 12px;
    background:white;
    gap:0.3rem;
    margin-top:1rem;

}
.section .secondpart .part1 .ammount{
    display:flex;
    background:#ffd4b4;
    height:auto;
    width:280px;
    margin-top: 1rem;
    padding:13px 30px;
    font-size:13px;
    border-radius: 10px;
    justify-content:space-between;
}
.section .secondpart .part1 .ammount i{
    font-size:15px;
}


.section .secondpart .part1 .box .img{
    width:110px;
    height:110px;
    margin-bottom:1;
    padding-bottom:10px;

}
.section .secondpart .part1 .box .img figcaption{
    font-size:15px;
    color:#fb687e;
    font-weight:bold;
}
.section .secondpart .part2{
    background-color: red;
}





@media screen and (max-width:600px) {
    .nav{
        display:none;
    }
    /* media querry for th main nav bar */
    .navbar .Cart{
        display:none;

    }
    .navbar{
        width:100%;
        height:200px;
        display:flex;
        justify-content:column;
        align-items:center;
        flex-direction:column;
    }

}

@media screen and (max-width: 1024px) and (min-width:601px) {
    .nav{
        width:100%;
        height: 40px;
        display:flex;
        padding:0;
        justify-content: center;
        align-items:center;
        gap:1.3rem;
    }


}